run = "npm start"
modules = ["postgresql-16", "nodejs-20"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["npm", "start"]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Start application"
mode = "sequential"
author = 45219606

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
